<header class="header tui-space_bottom-3">
  <ng-container *ngIf="isAuthenticated$ | async; else unauthenticatedTabs">
    <h3>
      <label tuiLabel label="Room">
        {{ roomName$ | async }}
      </label>
    </h3>

    <button tuiButton icon="tuiIconCollapse" size="s" (click)="onLeaveRoom()">
      Leave Room
    </button>
  </ng-container>

  <ng-template #unauthenticatedTabs>
    <div>
      <img src="assets/logo.svg" class="icon" />
      <h3>Soclaborative</h3>
    </div>

    <tui-tabs>
      <a tuiTab routerLink="popup/join" routerLinkActive>
        <tui-svg src="tuiIconLink"></tui-svg>
        Join
      </a>
      <button tuiTab routerLink="popup/create" routerLinkActive>
        <tui-svg src="tuiIconPlus"></tui-svg>
        Create
      </button>
    </tui-tabs>
  </ng-template>
</header>
