<header class="header tui-space_bottom-3">
  <!-- TODO: Add logo -->
  <h3>Socrative Collab</h3>

  <ng-container *ngIf="authorizationService.isAuthenticated$ | async; else unauthenticatedTabs">
    <button tuiButton icon="tuiIconCollapse" size="s" (click)="onLeaveRoom()">Leave Room</button>
  </ng-container>

  <ng-template #unauthenticatedTabs>
    <tui-tabs>
      <a tuiTab routerLink="popup/join" routerLinkActive>
        <tui-svg src="tuiIconLink"></tui-svg>
        Join
      </a>
      <button tuiTab routerLink="popup/create" routerLinkActive>
        <tui-svg src="tuiIconPlus"></tui-svg>
        Create
      </button>
    </tui-tabs>
  </ng-template>
</header>
