header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--tui-base-04);
  padding: 0 1rem;

  h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}